# Disable listening for DNS
port=0
interface={{ ironic_inspector_dhcp_interface }}
bind-interfaces
dhcp-range={{ ironic_inspector_dhcp_pool_range | regex_replace(' ', ',') }}
enable-tftp
tftp-root={{ ironic_inspector_tftpboot_dir }}
dhcp-option=3,{{ ironic_inspector_dhcp_gateway }}
dhcp-option=6,{{ ironic_inspector_dhcp_nameservers }}


dhcp-match=ipxe,175
# Client is already running iPXE; move to next stage of chainloading
dhcp-boot=tag:ipxe,http://{{ hostvars[inventory_hostname]['ansible_' + ironic_inspector_dhcp_interface|replace("-","_")]['ipv4']['address'] }}:{{ ironic_inspector_webfsd_port }}/dualboot.ipxe

# EFI booting
dhcp-match=set:efi,option:client-arch,7
dhcp-match=set:efi,option:client-arch,9
dhcp-match=set:efi,option:client-arch,11
# Client is PXE booting over EFI without iPXE ROM; send EFI version of iPXE chainloader
dhcp-boot=tag:efi,tag:!ipxe,ipxe.efi

# Client is running PXE over BIOS; send BIOS version of iPXE chainloader
dhcp-boot=/undionly.kpxe,{{ hostvars[inventory_hostname]['ansible_' + ironic_inspector_dhcp_interface|replace("-","_")]['ipv4']['address'] }}:{{ ironic_inspector_webfsd_port }}

# Disable default router(s) and DNS over provisioning network
#dhcp-option=3
#dhcp-option=6

conf-dir=/etc/dnsmasq.d/,*.conf
dhcp-hostsdir=/etc/dnsmasq.d/dhcp-hostsdir
