port=0
interface={{ ironic_inspector_dhcp_interface }}
bind-interfaces
dhcp-range={{ ironic_inspector_dhcp_pool_range | regex_replace(' ', ',') }}
enable-tftp
tftp-root={{ ironic_inspector_tftpboot_dir }}
dhcp-option=3,{{ ironic_inspector_dhcp_gateway }}
dhcp-option=6,{{ ironic_inspector_dhcp_nameservers }}
# Ignore all hosts without vendor class ironic-inspector
# this prevens handing out leases to non pxe devices
# IPA ramdisk dhcp client has to send the same vendor class
dhcp-ignore=tag:!ironic-inspctor
dhcp-match=set:ironic-inspector,60,PXEClient
# Tag ipa ramdisk
dhcp-match=set:ironic-inspector,60,ironic-inspector
dhcp-sequential-ip
dhcp-match=ipxe,175
dhcp-match=set:efi,option:client-arch,7
dhcp-boot=tag:efi,syslinux.efi
{% if ironic_inspector_boot_mode == "http" %}
dhcp-boot=lpxelinux.0,localhost.localdomain,{{ hostvars[inventory_hostname]['ansible_' + ironic_inspector_dhcp_interface|replace("-","_")]['ipv4']['address'] }}
{% else %}
dhcp-boot=pxelinux.0,localhost.localdomain,{{ hostvars[inventory_hostname]['ansible_' + ironic_inspector_dhcp_interface|replace("-","_")]['ipv4']['address'] }}
{% endif %}
conf-dir=/etc/dnsmasq.d/,*.conf
dhcp-hostsdir=/etc/dnsmasq.d/dhcp-hostsdir
