#!ipxe

dhcp || reboot

goto introspect

:introspect
kernel http://{{ ansible_eth13.ipv4.address }}:{{ ironic_inspector_ipa_kernel_suffix_url }} ipa-inspection-callback-url=http://{{ internal_lb_vip_address }}:5050/v1/continue  ip=${ip}:${next-server}:${gateway}:${netmask} BOOTIF=${mac} nofb nomodeset vga=normal console=ttyS0 {{ ironic_inspector_pxe_append_params | default('') }}
initrd http://{{ ansible_eth13.ipv4.address }}:{{ ironic_inspector_ipa_initrd_suffix_url }}
boot
